input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
 button[type=submit] {
    background-color: dodgerblue;
    float: left;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

.error{
    color: red;
    font-size: 15px;
    margin-left: 5%;
}
.borderError{
  border:1px solid red;
}
@media screen and (max-width: 500px) {
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
}