<form [formGroup]="newUser" (ngSubmit)="onSubmit(newUser)">
    <div>
        <label>First name: </label>
        <input type="text" formControlName="first_name" name="first_name" >
        <!-- <div *ngIf="newUser.hasError('required','first_name') &&  newUser.controls['first_name']?.touched" class="error">Must enter first name.</div> -->        
    </div>
    <br />
    <div>
        <label>Last name: </label>
        <input type="text" formControlName="last_name" name="last_name" >
        <!-- <div *ngIf="newUser.hasError('required','last_name') &&  newUser.controls['first_name']?.touched" class="error">Must enter last name.</div> -->
    </div>
    <br />
    <div>
        <label>User image:</label>
        <input type="text" formControlName="image" name="image" >
        <!-- <div *ngIf="newUser.hasError('required','image') &&  newUser.controls['image']?.touched" class="error">Must enter image.</div> -->
    </div>
    <div style="margin-left: 5%;">
        <button type="submit">Set user</button>
    </div>
    <br/>
    <br/> 
</form>

<div style="margin-left: 5%;">
    <h2>Pipe exercise</h2>
    <div *ngFor="let obj of objects">
        <br/>
        Sale price : {{ "Sale_price" | customPipe:obj.price:obj.discount:obj.end_date}}
        <br/>
        Weekly payment : {{ "Weekly_payment" | customPipe:obj.price:obj.discount:obj.end_date }}
        <br/>
        Weeklydiscount : {{ "Weekly_discount" | customPipe:obj.price:obj.discount:obj.end_date }}

    </div>
</div>
<br/>
<br/> 
<button appResize id="resize" class="custom-directive">Test directive</button>
